body {
  min-height: 100vh;
  align-content: center;
  text-align: center; /* Center text and inline elements */
}

table {
  /* border-collapse: collapse; */
  margin-inline: auto;
  border: 1px solid gray;
  width: 100%;
}

table th {
  user-select: none;
  padding: 0 10px;
}

table thead tr {
  background-color: rgba(0, 0, 0, 0.5);
  color: #eee;
}

table :is(th, td) {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  height: 32px;
}

table .cell-content {
  position: absolute;
  top: 50%;
  left: 10px;
  translate: 0 -50%;
}

table .draggable {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 6px;
  cursor: col-resize;
}

table tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}

button {
  width: 100%; /* Set a fixed width for buttons */
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

button:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

button:active {
  background-color: #003f7f;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.5);
}

.button-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-auto-rows: auto;
  justify-content: center;
  gap: 10px;
  max-width: 790px;
  margin: 20px auto;
}

.wrapper {
  overflow: auto;
  position: relative;
  z-index: 2;
}
